Sentinel Hub client credentials authentication flow changes

To verify/adapt:

<blockquote>
Dear Sentinel Hub user,
 

We wish to notify you about Sentinel Hub client credentials authentication flow changes that are planned for release on 2023-11-14 15:00 UTC and might affect you.
 

Please note that due to a migration to a newer authentication system, client credentials containing special characters '+%' passed in the Basic HTTP Authentication header will have to be URL encoded according to RFC6749 section 2.3.1.
 

If you're affected, and you're not already URL encoding your requests you have 3 options:
 

Create a new OAuth2 client from the Dashboard, which will create a new client id and secret that will not contain any characters that would need to be URL encoded.
 
To continue using Basic Authentication header, URL encode the client id and secret passed in the header
 
Or alternatively pass the client_id and client_secret in the request body, as described for:
Javascript
Python
Postman
cURL
 
The existing authentication system already supports both methods and you can start migrating your flows now. None of the options should take more than a few minutes of your time.
Please don't hesitate to contact us if you experience issues accessing any data with your account.
 

Best regards, 
Sentinel Hub support team
</blockquote>

> Or alternatively pass the client_id and client_secret in the request body

This is already how we pass credentials so yay, no further action needed.